/* Computer Modern font family */
body,
html {
  font-family: "Computer Modern Serif", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Computer Modern Serif", serif;
}

code, pre, kbd, samp {
  font-family: "Computer Modern Typewriter", monospace;
}
